.admin-bg{
     height: 100%;
    width: 100%;
    background-color: rgb(205, 147, 220);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 80% 100%, 46% 91%, 0% 80%, 0% 20%);
    position: absolute;
    z-index: -1;
}