.login-bg{
    height: 100%;
    width: 100%;
    background-color: rgb(2, 248, 215);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 83% 100%, 14% 100%, 0% 50%);
    position: absolute;
    z-index: -1;
}